<p id="notice"><%= notice %></p>

<h2>
  <%= @book.title %>
</h2>

<p>
  <strong>Desc:</strong>
  <%= @book.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<% if user_signed_in? %>
  <%= form_tag add_book_cart_path(current_user.cart, @book), :method => 'post' do%>
    <div class="form-group">
      <%= submit_tag "In den Warenkorb", :id => nil %>
    </div>
  <% end %>
<% else %>
  <p>Zum Kaufen musst du eingeloggt sein. <%= link_to("Login", new_user_session_path) %></p>
<% end %>
<%= link_to 'Back', books_path %>
