<p id="notice"><%= notice %></p>

<div id="bookheader">
  <h2>
    <%= @book.title %>
  </h2>
  <h4 id="author">
    <%= @book.author %>
</h4>
</div>

<div class="row">
  
  <div class="col-md-4">
    <%= image_tag("dummy_book.png", class:"img-responsive") %>
  </div>

  <div class="col-md-8">
    <p>
      <%= @book.desc %>
    </p>

    <div class="info">
      <div class="price"> <%= @book.price %> &euro; </div>
      <div><strong><%= @book.genre %></strong></div>
      <div>ISBN: <%= @book.isbn %></div>
    </div>
  </div>

</div>

<% @book.reviews.each do |review| %>

<div class="review-wrapper">
  <div class="headline"><strong><%=review.headline%></strong></div>
  <div class="bewertung"><i><%=review.user.name%> hat das Produkt mit <%=review.value%>/10 Punkten bewertet.</i></div>
  <div><%=review.review%></div>
</div>

<%end%>

<% if user_signed_in? %>
<div class="comment-input">
  <%= render 'reviews/form'%>
</div>
<% else %>
  <p>Du bist nicht eingeloggt. <%= link_to("Login", new_user_session_path) %></p>
<% end %>

<% if user_signed_in? %>
  <%= form_tag add_book_cart_path(current_user.cart, @book), :method => 'post' do%>
    <div class="form-group">
      <%= submit_tag "In den Warenkorb", :id => nil %>
    </div>
  <% end %>
<% else %>
  <p>Zum Kaufen musst du eingeloggt sein. <%= link_to("Login", new_user_session_path) %></p>
<% end %>
<%= link_to 'Back', books_path %>
