<h1>Ihre Bestellung</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Buch</th>
      <th>Anzahl</th>
      <th>Einzelpreis</th>
      <th>Gesamtpreis</th>
    </tr>
  </thead>
  <tbody>
    <% @cart.books_carts.each do |books_cart| %>
    <tr>
      <td><%= books_cart.book.title %></td>
      <td><%= books_cart.quantity%> </td>
      <td><%= number_to_currency books_cart.book.price %></td>
      <td><%= number_to_currency books_cart.sum %></td>
      
    </tr>  
    <% end %>
    <tfoot>
      <tr>
        <td>Summe:</td>
        <td></td>
        <td></td>
        <td><%= number_to_currency @cart.sum %></td>
      </tr>
    </tfoot>
  </tbody>

</table>

<%= link_to "Bestellen", orders_path(), class:"btn btn-primary", data:{method:"post"} %>
