<div class="jumbotron">
  <h1>Welcome to <%= @venue %>!</h1>
  <p><%= image_tag("sor_banner", width: "1020") %></p>
</div>

<div class="page-header">
  <h2>Latest News</h1>
</div>

<% @posts.each do |post| %>
  <article>
    <h3><%= link_to post.title, post_path(post) %> <small><%= l(post.created_at, format: :short) %></small></h3>
    <p>
      <%= simple_format(truncate(post.body, length: 250)) %>
    </p>
  </article>
<% end %>
