<%= form_for(@review, url: book_reviews_path(@book)) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group jumbotron">
    <div class="field">
      <%= f.label "Titel" %><br>
      <%= f.text_field :headline, class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label "Bewertung" %><br>
      <%= f.select(:value, options_for_select(0..10)) %>
    <div class="field">
      <%= f.label "Erfahrungsbericht" %><br>
      <%= f.text_area :review, class:"form-control" %>
    </div>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Abschicken", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
  
